body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #af9c7d;
}

.container{
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 3px;
}

.box{
    background-color: #04348c;
    border-radius: 10px;
    border: 1px solid black;
    cursor: grab;
}

.box:hover{
    background-color: #fbe444;
    opacity: 50%;
}